<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.remakeTodo.repository.TodoMapper">
	<resultMap id="TodoResultMap"
		type="com.example.remakeTodo.entity.Todo">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="done_flg" column="done_flg" />
		<result property="time_limit" column="time_limit" />
		<result property="user_id" column="user_id" />
	</resultMap>
	<select id="selectAll"
		resultMap="TodoResultMap">
		select id, title, done_flg, time_limit, user_id from
		todo_items where user_id = #{user_id}
	</select>

	<select id="selectIncomplete"
		resultMap="TodoResultMap">
		select id, title, done_flg, time_limit, user_id from
		todo_items where done_flg = 0 and user_id = #{user_id}
	</select>

	<select id="selectComplete"
		resultMap="TodoResultMap">
		select id, title, done_flg, time_limit, user_id from
		todo_items where done_flg = 1 and user_id = #{user_id}
	</select>

	<insert id="add"
		parameterType="com.example.remakeTodo.entity.Todo">
		insert into todo_items (title,time_limit,user_id)
		values
		(#{title},#{time_limit}, #{user_id})
	</insert>

	<update id="update"
		parameterType="com.example.remakeTodo.entity.Todo">
		update todo_items set
		title = #{title},
		time_limit =
		to_date(#{time_limit},'yy-mm-dd'),
		done_flg = #{done_flg}
		where id =
		#{id}
	</update>

	<delete id="delete"
		parameterType="com.example.remakeTodo.entity.Todo">
		delete from todo_items where done_flg = 1 and user_id =
		#{user_id}
	</delete>







</mapper>