<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.remakeTodo.repository.UserMapper">
	<select id="findByUsername" resultType="com.example.remakeTodo.entity.UserEntity">
		select * from users where username = #{username}
	</select>
	
	<insert id="insertUser">
        INSERT INTO users (username, password_hash, email, created_at)
        VALUES (#{username}, #{passwordHash}, #{email}, CURRENT_TIMESTAMP)
    </insert>
	
</mapper>